@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,500,600,700,800|Oxanium:200,300,400,500,600,700,800&display=swap&subset=latin-ext');



html{

  font-family: 'Baloo 2';
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-size: 21px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body{

  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 21px;


}

p{
  font-size: 21px;
  line-height: 1.5;
}

h1{
  line-height: 1.5;
  font-size: 1.6em;
  font-family: Oxanium;
}



@media screen and (max-width: 900px) {
  html,body,p{
    font-size: 18px;
  }



}

strong{
  font-weight: 600;
}

a{
  text-decoration: none;
}


$redColor: #c21807;

@mixin borderRadius{
  border-radius: 20px;
}

@mixin lightShadow{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin mediumShadow{
  box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.01);
}

@mixin hardShadow{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.01);
}

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}